<h3>Users</h3>
<div class="span8">
  <% if user_signed_in? %>
      <% if current_user.has_role? :admin %>
          <table class="table table-condensed">
                  <thead>
                  <tr>
                      <th>Username</th>
                      <th>Email</th>
                      <th>Registered</th>
                      <th>Role</th>
                      <th></th>
                      <th></th>
                  </tr>
              </thead>
              <tbody>

              <% @users.each do |user| %>
                <tr>
                    <td><%= link_to user.name, user %></td>
                    <td><%= user.email %></td>
                    <td><%= user.created_at.to_date %></td>
                    <td><%= user.roles.first.name.titleize unless user.roles.first.nil? %></td>
                    <td>
                      <a data-toggle="modal" href="#role-options-<%= user.id %>" class="btn btn-mini" type="button">Change role</a>
                      <%= render user %>
                    </td>
                    <td><%= link_to("Delete user", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-mini') unless user == current_user %></td>
                </tr>
              <% end %>
              </tbody>
          </table>
      <% end %>
</div>
      <div class="clearfix"></div>
<h3>User Decks</h3>
<div class="span8">
      <table class="table table-condensed">
        <tr>
          <th>Deck Name</th>
          <th>Created On</th>
          <th>Creator</th>
        </tr>
      <% decks = Deck.all %>
      <% decks.each do |deck| %>
           <% user = User.where(:id => deck.user_id) %>
        <tr>
          <td>
              <%=link_to deck.name, deck%>
          </td>
          <td>
              <%=deck.created_at%>
          </td>
          <td>
              <%=user.name %>
          </td>
        </tr>
      <% end %>
      </table>
  <% end %>
</div>