<h1>CCGHoard</h1>
<div class="container">
  <table>
    <tr>
      <th>Name</th>
      <th>Color</th>
      <th>Cardtype</th>
      <th>Power/Toughness</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

    <% @cards.each do |card| %>
        <tr>
          <td><%= link_to card.name, card %></td>
          <td><%= card.color %></td>
          <td><%= card.cardtype %></td>
          <td><%= card.powertoughness %></td>
        </tr>
    <% end %>
  </table>
  <%= will_paginate @cards %>
</div>
