
<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>

<table class="table table-hover">
    <tr>
      <th><%= sortable "name" %></th>
      <th><%= sortable "cardset" %></th>
      <th><%= sortable "color" %></th>
      <th><%= sortable "manacost" %></th>
      <th><%= sortable "cardtype" %></th>
      <th><%= sortable "powertoughness","Power/Toughness" %></th>
      <th><%= sortable "price" %></th>
      <%	 if user_signed_in? %>
          <% if current_user.has_role? :admin %>
              <th></th>
              <th></th>
          <%end %>
      <%end %>

    </tr>

  <% @cards.each do |card| %>
      <tr>
        <td><%= link_to card.name, card %></td>
        <td><%= card.cardset %></td>
        <td>
          <% card.get_symbols(card.color).each do |cur_symbol| %>
              <%=	 image_tag "assortedimages/"+cur_symbol %>

          <% end %>
        </td>
        <td>
          <% card.get_symbols(card.manacost).each do |cur_symbol| %>
            <%=	 image_tag "assortedimages/"+cur_symbol %>

          <% end %>
        </td>
        <td><%= card.cardtype %></td>
        <td><%= card.powertoughness %></td>
        <td>
          <% if card.price.nil? %>
              <%= "**Price not entered**" %>
          <% else %>
              <%= number_to_currency(card.price) %>
          <% end %>
        </td>
        <%	 if user_signed_in? %>
            <% if current_user.has_role? :admin %>
             <td><%= link_to 'Edit', edit_card_path(card) %></td>
             <td><%= link_to 'Destroy', card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <%end %>
        <%end %>
      </tr>
  <% end %>
</table>
