<%= simple_form_for @card, :html => {:multipart => true} do |f| %>
    <div class="darken-labels">
      <%= f.error_notification %>

        <div class="pull-left" style="margin:10px">
          <%= f.input :name, :as => :string %>
          <%= f.input :cardset, :as => :string %>
          <%= f.input :color, :as => :string %>
          <%= f.input :manacost, :as => :string %>
          <%= f.input :cardtype, :as => :string %>
          <%= f.input :powertoughness, :as => :string %>
        </div>
        <div class="pull-left" style="margin-top: 10px">
          <%= f.input :description, :as => :text %>
          <%= f.file_field :image %>
        </div>
        <div class="pull-left" style="margin:34px 10px 30px 20px">
          <%= image_tag "cards/" + @card.get_image %>
          <%= f.input :price, :as => :string%>
        </div>

      <div class="form-actions">
        <div class="pull-right" style="margin-top: 30px"><%= f.button :submit %></div>

      </div>
    </div>
<% end %>
