<h1 class="add-text-shadow"><%= image_tag "assortedimages/mtg_mana.png" %><span class="greenify">E</span>diting Card </h1>

  <div class="container_smaller">
    <div class="center">
      <%= link_to 'Show', @card %> |
      <%= link_to 'Back', cards_path %>
    </div>

    <div class="pull-left card-info">
        <%= render 'form' %>
    </div>

  <div class="clearfix"></div>

</div>



