<div class="mtg-logo">
  <%= image_tag "assortedimages/mtg-logo.png" %>
</div>

<%= form_tag cards_path, :method => 'get', :id => "cards_search" do %>
    <div class="input-append pull-left negative_margin clearfix">
      <%= text_field_tag :search, params[:search] %>
      <%= button_tag "Search", :class => 'btn' %>
    </div>
    <div class="pull-right lessen-margin">
      <%= will_paginate @cards %>
    </div>
    <div class="clearfix"></div>
    <div id="cards" class="container"><%= render 'cards' %></div>
<% end %>
<% if user_signed_in? %>
<% if current_user.has_role? :admin %>
      <p><%= link_to 'New Card', new_card_path %></p>
<% end %>
<%	 end %>
