<div class="container clearfix" >
  <p id="notice"><%= notice %></p>
  <div class="container_smaller">
    <p>
      <% if user_signed_in? %>
          <% if current_user.has_role? :admin %>
            <%= link_to 'Edit', edit_card_path(@card) %> |
          <% end %>
      <% end %>
      <%= link_to 'Back To CardList', cards_path %>
    </p>

    <div class="pull-left card_image_area">
      <%= image_tag "cards/" + @card.get_image %>
    </div>
    <div class="pull-left card_content">
      <p>
        <b>Name:</b>
        <%= @card.name %>
      </p>

      <p>
        <b>Cardset:</b>
        <%= @card.cardset %>
      </p>

      <p>
        <b>Color:</b>
        <% @card.get_symbols(@card.color).each do |cur_symbol| %>
            <%=	 image_tag "assortedimages/"+cur_symbol %>
        <% end %>
      </p>
      <p>
        <b>Manacost:</b>
        <% @card.get_symbols(@card.manacost).each do |cur_symbol| %>
            <%=	 image_tag "assortedimages/"+cur_symbol %>
        <% end %>
      </p>
      <p>
        <b>Cardtype:</b>
        <%= @card.cardtype %>
      </p>

      <p>
        <b>Powertoughness:</b>
        <%= @card.powertoughness %>
      </p>
      <p>
        <b>Description:</b>
        <%= @card.description %>
      </p>
      <p>
        <b>Price:</b>
        <% if @card.price.nil? %>
            <%= "**Price not entered**" %>
        <% else %>
            <%= number_to_currency(@card.price) %>
        <% end %>

      </p>
    </div>
  </div>

</div>

