<%= simple_form_for(@deck) do |f| %>
  <%= f.error_notification %>
    <div class="form-actions darken-labels">
  <div class="form-inputs">
    <%= f.input :name %>
    <%=f.association :cards, :as => :check_boxes %>
  </div>


    <%= f.button :submit %>
  </div>
<% end %>
