<p id="notice"><%= notice %></p>

<h3><%=@deck.name%></h3>

<table class="table table-hover">
  <tr>
    <th>Name</th>
    <th>Cardset</th>
    <th>Color</th>
    <th>Manacost</th>
    <th>Cardtype</th>
    <th>Power/Toughness</th>
    <th>Price</th>

  </tr>
  <% total_cost = 0.0 %>
  <% cards = @deck.cards %>
  <% cards.each do |card| %>
      <% total_cost += card.price %>
      <tr>
        <td><%= link_to card.name, card %></td>
        <td><%= card.cardset %></td>
        <td>
          <% card.get_symbols(card.color).each do |cur_symbol| %>
              <%=	 image_tag "assortedimages/"+cur_symbol %>

          <% end %>
        </td>
        <td>
          <% card.get_symbols(card.manacost).each do |cur_symbol| %>
              <%=	 image_tag "assortedimages/"+cur_symbol %>

          <% end %>
        </td>
        <td><%= card.cardtype %></td>
        <td><%= card.powertoughness %></td>
        <td>
          <% if card.price.nil? %>
              <%= "**Price not entered**" %>
          <% else %>
              <%= number_to_currency(card.price) %>
          <% end %>
        </td>
        </tr>

  <% end %>
  <tr>
    <td colspan="7">Total Purchase Price: <%=	number_to_currency(total_cost) %></td>
  </tr>
</table>
<%= link_to 'Edit', edit_deck_path(@deck) %> |
<%= link_to 'Back', decks_path %>
